/src/**/*.log
/src/**/*.aux
/src/**/*.synctex.gz
/src/**/*.out
/src/**/*.toc
/src/**/*.dvi
/src/**/*.DS_Store
/src/**/*.fdb_latexmk
/src/**/*.fls
/src/**/*.nav
/src/**/*.snm
/src/**/*.lof
/src/**/*.lot
/src/**/*.pdf
