*{
   background-color: #191616;
}

nav{
   width: 100%;
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

nav a{
   background-color: white;
   text-decoration: none;
   font-size: large;
}

#currentlink {
   margin-right: 16px;
   text-decoration: none;
   font-weight: bold;
}

h1, h2, h3, p{
   text-align: center;
   color: white;
}

.entry {
   margin-bottom: 24px;
   color: white;
}